{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDBMS</title>
    <link rel="stylesheet" href="{%static 'nav.css'%}">
    <link rel="stylesheet" href="{%static 'login.css'%}">
</head>
<nav>
    <div class="navigation">
        <a href="">RDBMS</a>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="#News">News</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li><a href="#About">About</a></li>
        </ul>
    </div>
</nav>
<body>
    <div class="login_template">
        
        <form action="" method="post">
            <input type="text" placeholder="USERNAME" name="username">
            <input type="password" placeholder="PASSWORD" name="password">
            <input type="submit" value="submit">
        </form>
    </div>
    
    
</body>
</html>