{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'home.css'%}">
    <link rel="stylesheet" href="{%static 'signup.css'%}">

</head>
<body style="background-image: url(../static/assets/search.jpg); background-repeat: no-repeat;  background-attachment: fixed;
background-size: 100% 100%;">
    <div class="topnav">
        <a class="active" href="{%url 'search'%}">Road Safety Database Management System</a>  
        
        <div class="login">
      </div>
      </div>
    <div class="signup_template">
        
        <form action="{%url 'signup'%}" method="post">
            {%csrf_token%}
            <ul>
                <li><h2>Signup</h2></li>
                <li><input type="text" placeholder="USERNAME" name="username"></li>
                <li><input type="text" placeholder="FIRSTNAME" name="fname"></li>
                <li><input type="text" placeholder="LASTNAME" name="lname"></li>
                <li><input type="email" placeholder="EMAIL" name="email"></li>
                <li><input type="password" placeholder="PASSWORD" name="password"></li>
                <li><input type="password" placeholder="CONFIRM PASSWORD" name="con_password"></li>
                <li><input type="submit" value="submit"></li>
                <li><p>already a member?<a href="{%url 'home'%} ">login</a></p></li>
            </ul>
            
            
            
        </form>
    </div>
</body>
</html>